.filterForm{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    width: 100;
    margin: 10px 50px;
    flex-wrap: wrap;
    /* width: 100%; */
    @media (max-width:400px) {
          margin-left: 10px;
          margin-right: 10px;
        }
}

.containerInput{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.inputFilter{
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.111);
    border-radius: 8px;
    padding: 6px 10px;
    width: 220px;

    @media (max-width:550px) {
    width: 150px;
    }
}
.containerBtn{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
}

.btnFormFilter{
    background-color: black !important;
    transition: 0.2s ease-in-out;
    padding: 0px 25px;
}

.btnFormFilter:hover{
    background-color: rgb(60, 60, 60) !important;
}